body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding-top: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #495057;
}

.password-feedback {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.password-feedback.valid {
    color: green;
}

.password-feedback.invalid {
    color: red;
}

.btn-container button {
    width: 75px;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-container button:first-child {
    margin-left: 0;
}

.btn-container button:hover {
    background-color: #0056b3;
}