body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 24px;
}

.modal-body {
    background-color: #fff;
    padding: 30px;
    line-height: 1.6;
    font-size: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-primary, .btn-danger {
    background-color: #007bff; /* 파란색으로 통일 */
    color: white;
    margin-right: 10px; /* 버튼 사이 간격 조정 */
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #0056b3;
}

#checkMsg {
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}