body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.form-container h2 {
    color: #4A90E2;
    margin: 0 0 20px;
    text-align: center;
}

label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-actions {
    text-align: right;
}

.file-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    text-decoration: none;
    display: inline-block;
}

input[type="submit"] {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #357ABD;
}

#imagePreview {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

.menu-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 8px;
    transition: background 0.3s ease;
}

.menu-button:hover {
    background-color: #357ABD;
}